APScheduler==3.10.4
asgiref==3.7.2
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.4
dj-database-url==2.2.0
Django==5.0.1
django-background-tasks==1.2.5
django-compat==1.0.15
django-cron==0.6.0
django-heroku==0.3.1
docutils==0.20.1
feedparser==6.0.11
gitdb==4.0.11
GitPython==3.1.43
gunicorn==22.0.0
pycparser==2.22
requests==2.31.0
schedule==1.2.1
selenium==4.19.0
setuptools==69.5.1
sgmllib3k==1.0.0
sqlparse==0.4.4